{{define "title" }}Clients{{ end }}

{{define "content"}}
{{ template "sidebar" . }}

<div class="container">
    <div class="py-2">
        <a href="/clients/create" class="btn btn-primary">Create</a>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th scope="col">Name</th>
                <th scope="col">Client ID</th>
                <th scope="col">Type</th>
            </tr>
        </thead>
        <tbody>
            {{ range .Clients }}
            <tr>
                <td><a href="/clients/{{ .Id }}">x</a></td>
                <td>{{ .Name }}</td>
                <td>{{ .Id }}</td>
                <td>{{ .Type }}</td>
            </tr>
            {{ end }}
        </tbody>
    </table>
</div>
{{end}}