{{define "title" }}Sign in{{ end }}

{{define "content"}}
<div class="container">
    <form method="post">
        <div class="mb-3">
            <label for="email" class="form-label">Email address</label>
            <input type="email" class="form-control" name="email" id="email">
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" name="password" id="password">
        </div>
        <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="remember_me">
            <label class="form-check-label" for="remember_me">Remember me</label>
        </div>
        <button type="submit" class="mb-3 btn btn-primary">Submit</button>

        {{ if .Error }}
        <div class="alert alert-danger" role="alert">
            {{ .Error }}
        </div>
        {{ end }}
    </form>
</div>
{{end}}