<h1>{{.Title}}</h1>

<form action="/api/clients/{{ .Client.ID }}/callbacks" method="POST">
    <div>
        <label for="callback">Callback</label>
        <input type="text" id="callback" name="callback" required placeholder="callback" />
    </div>

    <button type="submit">Add</button>
</form>

<table class="table-auto border-separate border-spacing-2 border border-slate-500">
    <thead>
    <tr>
        <th class="border border-slate-600">Callbacks</th>
    </tr>
    </thead>
    <tbody hx-confirm="Are you sure?" hx-target="closest tr" hx-swap="outerHTML swap:1s">
    {{ range .CallbackList }}
    <tr>
        <td class="border border-slate-700">{{ .Uri }}</td>
    </tr>
    {{end}}
    </tbody>
</table>